.authors {
  width: auto;
  padding: 10px;
  color: white;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  img {
    width: 5px;
    height: 5px;
    margin: 5px;
  }

  a:hover {
    color: #dc41f4;
  }
}