.authors {
  width: 100%;
  padding: 10px;
  position: absolute;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  font-size: 14px;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  img {
    width: 5px;
    height: 5px;
    margin: 5px;
  }

  a:hover {
    color: #dc41f4;
  }
}