.navbar {
    width: 100%;
    height: 70px;
    background-color: rgba(0,0,0, 0.6); 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    padding: 20px 0px 20px 30px;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    color: white;
    letter-spacing: 2px;
    font-weight: 100;
}

.sessionul{
    margin-right: 30px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    
    li {
        text-align: center;
        vertical-align: center;
        width: 90px;
        letter-spacing: 0;
        transition-duration: .6s;
        transition-timing-function: ease;
        a{
            margin: 0;
            position: relative;
            bottom: 5px;
        }
        button {
            margin: 0;
            position: relative;
            bottom: 5px;
        }
    }

    li:hover,
    li:active {
        letter-spacing: 2px;
    }
    li:after,
    li:before {
        backface-visibility: hidden;
        border: 1px solid rgba(#fff, 0);
        bottom: 0px;
        content: " ";
        display: block;
        margin: 0 auto;
        position: relative;
        transition: all 400ms ease-in-out;
        width: 0;
    }
    li:hover:after,
    li:hover:before {
        backface-visibility: hidden;
        border-color: #fff;
        transition: width 350ms ease-in-out;
        width: 90%;
    }
    li:hover:before {
        bottom: auto;
        top: 0;
        width: 90%;
    }
}

.sessionul button {
    margin-left: 30px;
    color: white;
    font-size: 16px;
}

.dropdown {
    display: none;
}

.sessionul a {
    margin-left: 30px;
    font-size: 16px;
    color: white;
}

.sessionul a:hover, .sessionul button:hover{
    // color: #dc41f4;
}


@media all and (max-width: 940px) {

    .sessionul{
        display: none;
    }

    .dropdown {
        display: block;
        background-image: url("../../images/menu.png");
        background-repeat: no-repeat;
        background-size: 30px 30px;
        width: 30px;
        height: 30px;
        margin-right: 30px;
    }

    .dropdown:hover {
        cursor: pointer;
    }

    .menuList {
        background-color: rgb(0,0,0);
        margin-left: -50px;
        padding: 5px 10px;
        width: auto;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        li {
            font-size: 14px;
            z-index: 10;
        }

        li:hover {
        color: #dc41f4; 
        }

        button {
           font-size: 14px; 
        }
    }

}