.navbar {
    width: 100%;
    height: 70px;
    background-color: rgba(0,0,0, 0.6); 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    padding: 20px 0px 20px 30px;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    color: white;
    letter-spacing: 2px;
    font-weight: 100;
}

.sessionul{
    margin-right: 30px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.sessionul button {
    margin-left: 30px;
    color: white;
    font-size: 16px;
}

.dropdown {
    display: none;
}

.sessionul a {
    margin-left: 30px;
    font-size: 16px;
    color: white;
}

.sessionul a:hover, .sessionul button:hover{
    color: #dc41f4;
}


@media all and (max-width: 1000px) {

    .sessionul{
        display: none;
    }

    .dropdown {
        display: block;
    }

    .dropdown {
        background-image: url("../../images/menu.png");
        background-repeat: no-repeat;
        background-size: 30px 30px;
        width: 30px;
        height: 30px;
        margin-right: 30px;
        flex-direction: column;
    }

    .dropdown > li {
        display: none;
        top: 30px;
        cursor: pointer;
    }

    .dropdown:hover {
        background-image: none;
        width: auto;
        height: auto;
        background-color: rgba(0,0,0, 0.5);
        padding: 10px;
        margin-top: 30px;
        margin-right: 30px;
        display: flex;
        flex-direction: column;
        align-content: space-between;    
    }

    .dropdown:hover > li{
        height: 20px;
        margin: 5px 0px;
        display: inline-block;
        color: white;
        font-size: 14px;
        z-index: 0;
    }

    .dropdown li:hover a {
        color: #dc41f4;
    }

    .dropdown button {
    font-size: 14px;
    }

}