.search_form {
    max-width: 940px;
    position: absolute;
    margin: auto;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid white;
    border-radius: 3px;
    height: 600px;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.search_form2 {
    background-color: rgba(0,0,0, 0.6);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.search_form2 h3{
    color: white;
    font-size: 25px;
    text-align: center;
    margin: 15px 15px 50px 15px;
    font-weight: 100;
}

.where{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 100px;
    justify-content: center;
}

.inputs {
    width: 500px;
    padding: 8px 10px 8px 10px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.inputs h2 {
    margin-right: 12px;
    color: #751b79;
    font-size: 18px;
    font-weight: bolder;
}

.inputs input {
    width: 100%;
    color:  #dc41f4;
    font-size: 16px;
    font-weight: bold;
}

.inputs input::placeholder {
    color:  #b3a3af;
    font-size: 14px;
    font-weight: 200;
}

.slidecontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 30px 15px 15px 15px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 14px;
    border-radius: 2px;
    margin-bottom: 5px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 18px;
    background: #751b79;
    border: 1px solid #e6e6e8;
    border-radius: 2px;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 5px;
    height: 18px;
    background: #751b79;
    border: 1px solid #e6e6e8;
    cursor: pointer;
}

.slidecontainer p {
    width: auto;
    color: white;
    font-size: 12px;
    text-align: center;
}

.extra {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.price {
    width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

li {
    color: white;
    font-size: 25px;
}

.checked {
    color: #cef932;
    font-size: 25px;
}

.OpenNow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

input[type='checkbox'] {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border: 3px solid white;
    border-radius: 2px;
    margin-right: 5px;
}

input[type='checkbox']:checked {
    background: #cef932;
}

.open_now {
    color: white;
    font-size: 20px;
}

.inputDiv {
    height: 100px;
}

.search_form input[type="submit"] {
    margin: 30px;
    height: 70px;
    width: 70px;
    background-image: url("../../images/logoWhite.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.8);
  }
}

.search_form input[type="submit"]  {
  animation: bounceIn 3.5s infinite linear;
}

.search_form input[type="submit"]:hover {
    background-image: url("../../images/logoCover.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader:empty {
  margin: 30px;
  height: 50px;
  width: 50px;
  border: 10px solid #6c4bba ;
  border-left: 10px solid rgba(0,0,0, 0.1);
  border-radius: 50%;
  animation: load8 1.5s infinite linear;
}

@media all and (max-width: 940px) {

    .search_form {
    margin-top: -50px;
    }

    .search_form2 h3 {
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 15px;
    margin-top: none;
    font-weight: 100;
    }

    .where{
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
        justify-content: center;
    }

    .inputs {
    width: 100%;
    }

    .search_form input[type="submit"] {
        margin: 20px;
    }

    li {
        font-size: 20px;
    }

    .checked {
    font-size: 20px;
    }

    input[type='checkbox'] {
    width: 13px;
    height: 13px;
    background: white;
    border: 2px solid white;
    border-radius: 1px;
    margin-right: 5px;
    }

    .open_now {
    font-size: 18px;
    }

}
