.session-form-outer {
    width: auto;
    margin: 70px 80px;
    border: 1px solid #e6e6e8;
    height: 690px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.full-page-session {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form-type-header {
    font-size: 40px;
    color: #FFF;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 14px;
}

.other-session {
    font-size: 16px;
}

.signup-input {
     width: 500px;
    padding: 8px 10px 8px 10px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.username {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.email {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.error-ul {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -20px;
}

.session-form-input {
    display: flex;
    flex-direction: column;
}

.username, .email {
    margin: 26px;
}

.error-ul > li {
    color: red;
    cursor: default;
}

.button-session {
    float: right;
    margin-right: 20px;
    font-size: 16px;
    color: #FFF; 
}

.other-session-link:hover {
    color: #751b79;
}

.error-list-container {

}

.session-form-container {
}

input:focus:required:invalid {
    border-color: var(--color-error)
}

.inputs-sess-form {
    padding-left: 6px;
}

.button-session {
    font-style: 24px;
    color: #FFF;
    align-self: center;
}

.other-session {
    align-self: center;
    color: #FFF;
}

input:placeholder-shown + label {
    opacity: 0;
    transform: translateY(1rem);
}

.help-text {
    display: block;
    font-size: small;
    margin: auto;
    position: absolute;
    color: red;
}

input:required + .help-text::before {
    content: '*Required';
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 20px;
    color: #fff;
    text-shadow: 2px 2px #000;
}

input[type='email']:invalid + .help-text {
    content: 'Enter valid email'
}

input[type='email']:invalid, input[type="password"]:invalid {
    border-color: var(--color-error);
    background-image: url("data:image/svg+xml,%3Csvg width='30px' height='30px' viewBox='0 0 30 30' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate%28-128.000000, -59.000000%29' fill='%23F44336'%3E%3Cpolygon points='157.848404 61.9920213 145.980053 73.8603723 157.848404 85.7287234 154.856383 88.7207447 142.988032 76.8523936 131.119681 88.7207447 128.12766 85.7287234 139.996011 73.8603723 128.12766 61.9920213 131.119681 59 142.988032 70.8683511 154.856383 59'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

input[type="email"]:valid,  input[type="password"]:valid {
  border-color: var(--color-primary);
  background-image: url("data:image/svg+xml,%3Csvg width='45px' height='34px' viewBox='0 0 45 34' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate%28-56.000000, -59.000000%29' fill='%232EEC96'%3E%3Cpolygon points='70.1468531 85.8671329 97.013986 59 100.58042 62.5664336 70.1468531 93 56 78.8531469 59.5664336 75.2867133'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

input[type='email'], input[type='password']{
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 0.75rem; 
}




