.session-form-outer {
    width: auto;
    margin: 70px 80px;
    border: 1px solid #e6e6e8;
    height: 690px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.full-page-session {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form-type-header {
    font-size: 40px;
    color: #FFF;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 14px;
}

.other-session {
    font-size: 16px;
}

.signup-input {
     width: 500px;
    padding: 8px 10px 8px 10px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.username {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.email {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.error-ul {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -20px;
}

.session-form-input {
    display: flex;
    flex-direction: column;
}

.username, .email {
    margin: 26px;
}

.error-ul > li {
    color: red;
    cursor: default;
}

.button-session {
    float: right;
    margin-right: 20px;
    font-size: 16px;
    color: #FFF; 
}

.other-session-link:hover {
    color: #751b79;
}

.error-list-container {

}

.session-form-container {
}

input:focus:required:invalid {
    border-color: var(--color-error)
}

.inputs-sess-form {
    padding-left: 6px;
}

.button-session {
    font-style: 24px;
    color: #FFF;
    align-self: center;
}

.other-session {
    align-self: center;
    color: #FFF;
}

input[type='email']:invalid + .help-text::after {
    content: 'Enter valid email'
}




