.profile {
    max-width: 940px;
    margin: 50px auto;
    border: 1px solid white;
    height: auto;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.profileContent {
    background-color: rgba(0,0,0, 0.6);
    width: 100%;
    height: 1000px;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // align-content: center;
    // justify-content: center;
    color: white;
}

.defaultContent {
    color: white;
}
