.profile {
    max-width: 940px;
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid white;
    height: auto;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.profileContent {
    background-color: rgba(0,0,0, 0.6);
    width: 100%;
    height: 1000px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;

    h1 {
      color:white;
      font-weight: 400;
      text-transform: capitalize;
      font-size: 25px;
    }
  }

.defaultContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  color: white;

  .img {
    width: 150px;
    height: 150px;
    margin: 60px;
    background-image: url("../../images/logoWhite.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
  }

  .img:hover {
    cursor: pointer;
    background-image: url("../../images/logoCover.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
  }

  @keyframes bounceImg {
    0% {
      transform: scale(0.9);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.9);
    }
  }

  .img  {
    animation: bounceImg 3.5s infinite linear;
  }

}

@media all and (max-width: 940px) {
  .profile {
    margin-top: -50px;
  }

  .profileContent h1 {
    color:white;
    font-weight: 300;
    font-size: 22px;
  }

  .defaultContent h2 {
    font-weight: 200;
    font-size: 18px;
  }

  img {
    width: 100px;
    height: 100px;
    margin: 40px;
  }
}



