html, body, header, nav, h1, a, ul, li, strong, main, button, i, section, img, div, h2, p, form,
fieldset, label, input, textarea, span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: 'Open Sans', sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

body {
  padding-top: 0;
  padding-bottom: 0px;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="number"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,li,a,
input[type="submit"] {
  cursor: pointer;
}

#logoLoading {
  height: 200px;
  width: 200px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@keyframes antiClockwiseSpin {
	0%  {transform: rotate(360deg);}
	100% {transform: rotate(0deg);}	
}

#logoLoading  {
  animation: antiClockwiseSpin 3.5s infinite;
}