/*= require_self
*/
html, body, header, nav, h1, a, ul, li, strong, main, button, i, section, img, div, h2, p, form,
fieldset, label, input, textarea, span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: 'Open Sans', sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent; }

ul {
  list-style: none; }

input[type="password"],
input[type="email"],
input[type="text"],
input[type="number"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none; }

button, li, a,
input[type="submit"] {
  cursor: pointer; }

/* Colors
Texts and Icons:
Dark Grey: #2F2F2F
White: #FFFFFF
Grey: #666666
Light Grey: #CCCCCC

WebPage:
Blue: #A1C3D1
Purple: #B39BC8
Very Light Purple: #F0EBF4
Yellow: #FBE8A6
Pink: #F172A1
Lighter Pink: #E64398

Font and Sizes 
Font: Open Sans
Weight: 400
Line Height: 1.5
Sizes: 
Heading:  20px
Title: 18px
Subtitle: 16 px
Body: 14px */
.navbar {
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.navbar h1 {
  padding: 20px 0px 20px 30px;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  color: white;
  letter-spacing: 2px;
  font-weight: 100; }

.navbar .session {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.navbar .dropdown {
  display: none; }

.navbar .session a {
  margin: 20px 30px;
  font-size: 16px;
  color: white; }

.navbar .session a:hover {
  text-decoration: underline; }

@media all and (max-width: 1000px) {
  .navbar .session {
    display: none; }

  .navbar .dropdown {
    display: block; }

  .navbar .dropdown > li {
    background-image: url("../../images/menu.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    position: relative; }

  .navbar .dropdown ul {
    position: absolute;
    top: 30px;
    left: 0 px;
    flex-direction: column;
    cursor: pointer; }

  .navbar .dropdown:hover ul {
    display: flex;
    background-color: ghostwhite; }

  .navbar .dropdown ul li:hover a {
    text-decoration: underline; } }
body {
  background-image: url("../../images/search1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: block; }

.search_form {
  width: auto;
  margin: 70px 80px;
  border: 1px solid #e6e6e8;
  height: 600px;
  background-image: url("../../images/search1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center; }

.search_form2 {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center; }

.search_form2 h3 {
  color: white;
  font-size: 25px;
  text-align: center;
  margin: 15px 15px 50px 15px;
  font-weight: 100; }

.what, .where {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 100px;
  justify-content: center; }

.inputs {
  width: 500px;
  padding: 8px 10px 8px 10px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left; }

.inputs h2 {
  margin-right: 12px;
  color: #751b79;
  font-size: 16px;
  font-weight: bold; }

.inputs input {
  width: 100%;
  color: #300032;
  font-size: 14px;
  font-weight: bold; }

.inputs input::placeholder {
  color: #dcc1f1;
  font-size: 14px;
  font-weight: 200; }

.price {
  width: 100px;
  margin: 5px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }

li {
  color: #e6e6e8;
  font-size: 20px; }

.checked {
  color: #91bb9d;
  font-size: 20px; }

.slidecontainer {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 5px 15px; }

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 14px;
  background: #e6e6e8;
  border: 1px solid #751b79;
  margin: 5px 15px; }

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 18px;
  background: #751b79;
  border: 1px solid #e6e6e8;
  cursor: pointer; }

.slider::-moz-range-thumb {
  width: 5px;
  height: 18px;
  background: #751b79;
  border: 1px solid #e6e6e8;
  cursor: pointer; }

.slidecontainer p {
  width: auto;
  color: #e6e6e8;
  font-size: 12px;
  text-align: center; }

.search_form input[type="submit"] {
  margin: 50px;
  height: 70px;
  width: 70px;
  background-image: url("../../images/logoWhite.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block; }

.search_form input[type="submit"]:hover {
  background-image: url("../../images/logoCover.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block; }

@media all and (max-width: 1000px) {
  .search_form {
    margin: 40px 40px; }

  .search_form2 h3 {
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 15px;
    margin-top: none;
    font-weight: 100; }

  .what, .where {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    justify-content: center; }

  .inputs {
    width: 100%; }

  .search_form input[type="submit"] {
    margin: 20px; } }
.session-form-outer {
  width: auto;
  margin: 70px 80px;
  border: 1px solid #e6e6e8;
  height: 600px;
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center; }

.form-container {
  position: relative;
  top: 92px; }

.full-page-session {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center; }

.signup-header {
  text-align: center;
  font-size: 40px;
  color: #FFF;
  position: absolute;
  top: 10%;
  left: 41%; }

.signup-input {
  width: 500px;
  padding: 8px 10px 8px 10px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left; }

.username {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.error-ul {
  text-align: center;
  position: absolute;
  top: 18%;
  left: 33%; }

.session-form-input {
  display: flex;
  flex-direction: column; }

.username, .email {
  margin: 26px; }

.error-ul > li {
  color: red; }

.button-session {
  float: right;
  margin-right: 20px;
  font-size: 16px;
  color: #FFF; }

.res-box {
  width: 960px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  border: 1px solid gray;
  border-radius: 4px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

.pic-box {
  width: 55%;
  height: 100%;
  background-color: beige; }
  .pic-box .img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.map-box {
  width: 400px;
  height: 250px;
  margin: 10px 15px; }

/*# sourceMappingURL=main.css.map */
