/*= require_self
*/
html, body, header, nav, h1, a, ul, li, strong, main, button, i, section, img, div, h2, p, form,
fieldset, label, input, textarea, span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: 'Open Sans', sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent; }

ul {
  list-style: none; }

body {
  padding-top: 80px;
  padding-bottom: 0px; }

input[type="password"],
input[type="email"],
input[type="text"],
input[type="number"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none; }

button, li, a,
input[type="submit"] {
  cursor: pointer; }

#logoLoading {
  height: 200px;
  width: 200px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

@keyframes antiClockwiseSpin {
  0% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(0deg); } }
#logoLoading {
  animation: antiClockwiseSpin 3.5s infinite; }

.search_form {
  max-width: 940px;
  margin: auto;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid white;
  height: 600px;
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center; }

.search_form2 {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center; }

.search_form2 h3 {
  color: white;
  font-size: 25px;
  text-align: center;
  margin: 15px 15px 50px 15px;
  font-weight: 100; }

.where {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 100px;
  justify-content: center; }

.inputs {
  width: 500px;
  padding: 8px 10px 8px 10px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left; }

.inputs h2 {
  margin-right: 12px;
  color: #751b79;
  font-size: 18px;
  font-weight: bolder; }

.inputs input {
  width: 100%;
  color: #dc41f4;
  font-size: 16px;
  font-weight: bold; }

.inputs input::placeholder {
  color: #b3a3af;
  font-size: 14px;
  font-weight: 200; }

.slidecontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 30px 15px 15px 15px; }

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 14px;
  border-radius: 2px;
  margin-bottom: 5px; }

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 18px;
  background: #751b79;
  border: 1px solid #e6e6e8;
  border-radius: 2px;
  cursor: pointer; }

.slider::-moz-range-thumb {
  width: 5px;
  height: 18px;
  background: #751b79;
  border: 1px solid #e6e6e8;
  cursor: pointer; }

.slidecontainer p {
  width: auto;
  color: white;
  font-size: 12px;
  text-align: center; }

.extra {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.price {
  width: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly; }

li {
  color: white;
  font-size: 25px; }

.checked {
  color: #cef932;
  font-size: 25px; }

.OpenNow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

input[type='checkbox'] {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border: 3px solid white;
  border-radius: 2px;
  margin-right: 5px; }

input[type='checkbox']:checked {
  background: #cef932; }

.open_now {
  color: white;
  font-size: 20px; }

.inputDiv {
  height: 100px; }

.search_form input[type="submit"] {
  margin: 30px;
  height: 70px;
  width: 70px;
  background-image: url("../../images/logoWhite.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block; }

@keyframes bounceIn {
  0% {
    transform: scale(0.8); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(0.8); } }
.search_form input[type="submit"] {
  animation: bounceIn 3.5s infinite linear; }

.search_form input[type="submit"]:hover {
  background-image: url("../../images/logoCover.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block; }

@keyframes load8 {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }
.loader:empty {
  margin: 30px;
  height: 50px;
  width: 50px;
  border: 10px solid #6c4bba;
  border-left: 10px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  animation: load8 1.5s infinite linear; }

@media all and (max-width: 940px) {
  .search_form {
    margin-top: -50px; }

  .search_form2 h3 {
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 15px;
    margin-top: none;
    font-weight: 100; }

  .where {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    justify-content: center; }

  .inputs {
    width: 100%; }

  .search_form input[type="submit"] {
    margin: 20px; }

  li {
    font-size: 20px; }

  .checked {
    font-size: 20px; }

  input[type='checkbox'] {
    width: 13px;
    height: 13px;
    background: white;
    border: 2px solid white;
    border-radius: 1px;
    margin-right: 5px; }

  .open_now {
    font-size: 18px; } }
.session-form-outer {
  max-width: 940px;
  position: absolute;
  margin: auto;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid #e6e6e8;
  height: 690px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center; }

@media all and (max-width: 940px) {
  .session-form-outer {
    margin-top: -50px; }

  .signup-header {
    font-size: 20px; } }
.form-container {
  display: flex;
  flex-direction: column; }

.full-page-session {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.form-type-header {
  font-size: 40px;
  color: #FFF;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 14px; }

.other-session {
  font-size: 16px; }

.signup-input {
  width: 500px;
  padding: 8px 10px 8px 10px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left; }

.username {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.email {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.error-ul {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -20px; }

.session-form-input {
  display: flex;
  flex-direction: column; }

.username, .email {
  margin: 26px; }

.error-ul > li {
  color: red;
  cursor: default; }

.button-session {
  float: right;
  margin-right: 20px;
  font-size: 16px;
  color: #FFF; }

.other-session-link:hover {
  color: #751b79; }

input:focus:required:invalid {
  border-color: var(--color-error); }

.inputs-sess-form {
  padding-left: 6px; }

.button-session {
  font-style: 24px;
  color: #FFF;
  align-self: center; }

.other-session {
  align-self: center;
  color: #FFF; }

input:placeholder-shown + label {
  opacity: 0;
  transform: translateY(1rem); }

.help-text {
  display: block;
  font-size: small;
  margin: auto;
  position: absolute;
  color: red; }

input:required + .help-text::before {
  content: '*Required';
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 20px;
  color: #fff;
  text-shadow: 2px 2px #000; }

input[type='email']:invalid + .help-text {
  content: "Enter valid email"; }

input[type='email']:invalid, input[type="password"]:invalid {
  border-color: var(--color-error);
  background-image: url("data:image/svg+xml,%3Csvg width='30px' height='30px' viewBox='0 0 30 30' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate%28-128.000000, -59.000000%29' fill='%23F44336'%3E%3Cpolygon points='157.848404 61.9920213 145.980053 73.8603723 157.848404 85.7287234 154.856383 88.7207447 142.988032 76.8523936 131.119681 88.7207447 128.12766 85.7287234 139.996011 73.8603723 128.12766 61.9920213 131.119681 59 142.988032 70.8683511 154.856383 59'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A"); }

input[type="email"]:valid, input[type="password"]:valid {
  border-color: var(--color-primary);
  background-image: url("data:image/svg+xml,%3Csvg width='45px' height='34px' viewBox='0 0 45 34' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate%28-56.000000, -59.000000%29' fill='%232EEC96'%3E%3Cpolygon points='70.1468531 85.8671329 97.013986 59 100.58042 62.5664336 70.1468531 93 56 78.8531469 59.5664336 75.2867133'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A"); }

input[type='email'], input[type='password'] {
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 0.75rem; }

.requirements {
  position: relative;
  color: red;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 40px; }

.res-box {
  max-width: 990px;
  height: 725px;
  margin: 20px auto;
  border: 1px solid gray;
  border-radius: 4px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  background-color: rgba(0, 0, 0, 0.8);
  position: relative; }
  .res-box .navbar {
    background-color: transparent;
    width: 93%;
    height: 60px;
    margin: 0 auto;
    border-bottom: 1px solid #e5e5e5; }
  .res-box .btn {
    width: 93%;
    height: 50px;
    border-top: 1px solid #e5e5e5;
    margin: 10px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white; }
    .res-box .btn h2 {
      margin: 0;
      padding: 0;
      font-size: 25px; }
    .res-box .btn h2:hover {
      color: #dc41f4; }
    .res-box .btn img {
      height: 30px;
      margin: 10px;
      margin-top: 15px; }
@keyframes bounceIn {
  0% {
    transform: scale(0.6); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(0.6); } }
  .res-box .nextImage {
    animation: bounceIn 3.5s infinite linear; }

div[class*='box-'] {
  width: 280px;
  height: 280px; }

.top, .bottom {
  width: 93%;
  height: auto;
  text-align: center;
  margin: 15px auto 0;
  display: flex;
  justify-content: space-between; }
  .top .pic, .bottom .pic {
    width: 280px;
    height: 280px; }
    .top .pic .img, .bottom .pic .img {
      border-radius: 5px;
      width: 100%;
      height: 100%;
      object-fit: cover; }

.box-1 {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center; }
  .box-1 .info-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .box-1 .info-wrapper h1 {
      font-family: 'Josefin Sans', sans-serif;
      font-size: 25px;
      line-height: 40px;
      font-weight: 400; }
    .box-1 .info-wrapper .tags {
      margin: 10px 0;
      color: #e5e5e5;
      font-size: 13px; }
    .box-1 .info-wrapper .stars {
      height: 24px;
      width: 132px;
      background-image: url("../../images/stars.png");
      margin: 10px auto; }
    .box-1 .info-wrapper .price-review {
      color: #e5e5e5;
      font-family: 'Josefin Sans', sans-serif; }
    .box-1 .info-wrapper .heart {
      width: 60px;
      color: rgba(250, 250, 250, 0.4);
      font-size: 60px; }
      .box-1 .info-wrapper .heart i {
        cursor: pointer; }
    .box-1 .info-wrapper .message {
      height: 15px; }
      .box-1 .info-wrapper .message a {
        font-size: 13px;
        margin-top: -10px;
        font-family: 'Open Sans', sans-serif;
        color: #e5e5e5; }
      .box-1 .info-wrapper .message a:hover {
        color: #dc41f4; }
    .box-1 .info-wrapper .heart:hover {
      color: #ff6666; }

.box-3 {
  color: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center; }
  .box-3 .more-info {
    font-size: 21px; }
    .box-3 .more-info li {
      font-family: 'Josefin Sans', sans-serif;
      list-style: none;
      font-weight: 300;
      margin: 10px 0;
      cursor: auto; }
    .box-3 .more-info .address {
      font-size: 23px;
      font-weight: 400; }
    .box-3 .more-info .is-open {
      font-weight: 400;
      font-size: 30px;
      margin-top: 20px; }

.map-box {
  width: 280px;
  height: 280px;
  border-radius: 4px; }

@media only screen and (max-width: 920px) {
  .res-box {
    width: 100%;
    height: auto; }
    .res-box .navbar {
      margin-bottom: 15px; }

  .top-bottom-wrapper {
    width: 85%;
    display: flex;
    flex-direction: row;
    height: auto;
    margin: 0 auto; }

  .top, .bottom {
    height: 900px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px; } }
@media only screen and (max-width: 675px) {
  .res-box {
    height: auto; }

  .top-bottom-wrapper {
    display: flex;
    flex-direction: column;
    height: auto; }
    .top-bottom-wrapper .box-1 {
      width: 100%;
      height: auto; }
      .top-bottom-wrapper .box-1 .info-wrapper h1 {
        margin-bottom: 10px; }
      .top-bottom-wrapper .box-1 .info-wrapper .heart {
        font-size: 50px; }
      .top-bottom-wrapper .box-1 .info-wrapper .stars {
        margin: 10px auto; }
    .top-bottom-wrapper .box-3 {
      width: 100%;
      height: auto; }
      .top-bottom-wrapper .box-3 .address {
        font-size: 20px; }
      .top-bottom-wrapper .box-3 .is-open {
        font-size: 25px; }

  .top {
    height: 835px; }

  .bottom {
    height: 950px; }

  .top, .bottom {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

  .box-6 {
    margin-bottom: 20px; } }
.profile {
  max-width: 940px;
  margin: auto;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid white;
  height: auto;
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center; }

.profileContent {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center; }
  .profileContent h1 {
    color: white;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 25px;
    margin: 30px 20px; }

.defaultContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  color: white; }
  .defaultContent .img {
    width: 150px;
    height: 150px;
    margin: 60px;
    background-image: url("../../images/logoWhite.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block; }
  .defaultContent .img:hover {
    cursor: pointer;
    background-image: url("../../images/logoCover.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block; }
@keyframes bounceImg {
  0% {
    transform: scale(0.9); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(0.9); } }
  .defaultContent .img {
    animation: bounceImg 3.5s infinite linear; }

@media all and (max-width: 940px) {
  .profile {
    margin-top: -50px; }

  .profileContent h1 {
    color: white;
    font-weight: 300;
    font-size: 22px; }

  .defaultContent h2 {
    font-weight: 200;
    font-size: 18px; }

  img {
    width: 100px;
    height: 100px;
    margin: 40px; } }
.navbar {
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.navbar h1 {
  padding: 20px 0px 20px 30px;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  color: white;
  letter-spacing: 2px;
  font-weight: 100; }

.sessionul {
  margin-right: 30px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center; }

.sessionul button {
  margin-left: 30px;
  color: white;
  font-size: 16px; }

.dropdown {
  display: none; }

.sessionul a {
  margin-left: 30px;
  font-size: 16px;
  color: white; }

.sessionul a:hover, .sessionul button:hover {
  color: #dc41f4; }

@media all and (max-width: 940px) {
  .sessionul {
    display: none; }

  .dropdown {
    display: block;
    background-image: url("../../images/menu.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    margin-right: 30px; }

  .dropdown:hover {
    cursor: pointer; }

  .menuList {
    background-color: black;
    margin-left: -50px;
    padding: 5px 10px;
    width: auto;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .menuList li {
      font-size: 14px;
      z-index: 10; }
    .menuList li:hover {
      color: #dc41f4; }
    .menuList button {
      font-size: 14px; } }
.authors {
  width: 100%;
  padding: 10px;
  position: absolute;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  .authors img {
    width: 5px;
    height: 5px;
    margin: 5px; }
  .authors a:hover {
    color: #dc41f4; }

/*# sourceMappingURL=main.css.map */
